[meta]
  dir = "{{getenv "INFLUXDB_META_DIR"}}"
  hostname = "{{getenv "INFLUXDB_META_HOSTNAME"}}"
  bind-address = "{{getenv "INFLUXDB_META_BIND_ADDRESS"}}"

[data]
  dir = "{{getenv "INFLUXDB_DATA_DIR"}}"
  wal-dir = "{{getenv "INFLUXDB_DATA_WAL_DIR"}}"
  wal-logging-enabled = {{getenv "INFLUXDB_DATA_WAL_LOGGING_ENABLED"}}

[admin]
  enabled = {{getenv "INFLUXDB_ADMIN_ENABLED"}}
  bind-address = "{{getenv "INFLUXDB_ADMIN_BIND_ADDRESS"}}"

[http]
  auth-enabled = {{getenv "INFLUXDB_HTTP_AUTH_ENABLED"}}
  bind-address = "{{getenv "INFLUXDB_HTTP_BIND_ADDRESS"}}"
